//-i want to extend my main layout file so i dont have to repeat code everythere
extends layouts/main-layout.pug

//-add content in that layout so it will be injected into the view
block content
    h1 404. Page not found.