//- extend the main layout
extends layouts/main-layout.pug

//-add some more styling
block styles    
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

//-add the content of the page
block content
    main
        form.product-form(action="/admin/add-product", method = "post")
            div.form-control
                label(for="title") Title
                //-the #title is the way in which pug uses id
                //-instead of doing <input type=text name=title id=title>
                input(type="text" name="title")#title
            button.btn(type="submit") Add Product

        